ipython
ipykernel

# Testing
pytest
codecov
pytest-cov
tox
pre-commit
pytest-benchmark

# Linting
flake8
pylint
mypy
autopep8
isort
pydocstyle
black==21.4b0

# Documentation
mkdocs
mkdocstrings
mkdocs-material
Pygments
